.container {
    top: 80px;
    left: 0px;
    width: 100%;
    background: #F8CC5D 0% 0% no-repeat padding-box;
    border: 1px solid #1F343E;
    opacity: 1;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
