.container {
  border: 1px solid #1F343E;
  background: #45565E;
  color: #FFFFFF;
  height: 144px;

  .items {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .button__text {
      p {
        margin: 0;
        font-size: 16px;
      }

      em {
        font-weight: bold;
        font-style: normal;
        font-family: 'gadugi-bold', sans-serif;
        font-size: 20px;
      }

      text-transform: lowercase;
    }
  }

  .rating {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

}
