.container {
  width: 100%;
  border-bottom: 1px solid #1F343E;

  li {
    list-style: none;
    display: inline;
    padding-left: 1.2em;

    a:hover {
      color: #4EB3E3;
    }
  }

  .header {
    &__desktop {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      max-width: 992px;
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    &__mobile {
      margin: auto;
      padding: 16px;

      .menuBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .dropdownNavMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
      }

      /* Small devices (portrait tablets and large phones, 600px and up) */
      @media only screen and (min-width: 600px) {
        display: none;
      }
    }
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }
}
